<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark header-navbar">
  <div class="nav-items">
    <div class="left-header-items">
      <a class="navbar-brand" href="/">
        <img src="assets/images/app_icon.png" width="35" height="35" class="d-inline-block align-top" alt="" />
      </a>
      <a class="header-items-txt" href="/">Home</a>
    </div>
  </div>
  <div class="right-header-items">
    <a class="header-items-txt right-nav-items" href="/">Features</a>
    <a class="header-items-txt right-nav-items" href="/">Contact</a>
  </div>
</nav>
