<div class="connection-container">
  <div class="main-content">
    <div class="left-content get-started-info">
      <h2 class="info-text">Let's get started</h2>
    </div>
    <div class="right-content">
      <h4 class="info-text check-connection-guide">Let's check the connection & access to the databases</h4>
      <div class="check-connection-form">
        <form class="conn-form needs-validation" [formGroup]="connectionForm">
          <div class="sql-connection">
            <label for="sqlServerInput" class="form-label conn-label-text">Sql Server</label>
            <input
              required
              placeholder="Sql Server"
              type="text"
              class="form-control"
              id="sqlServerInput"
              aria-describedby="sqlServer"
              formControlName="sqlServer"
            />
            <div
              class="text-danger"
              *ngIf="
                connectionForm.controls['sqlServer'].invalid &&
                (isFormSubmitted ||
                  sqlConnectionCheck ||
                  connectionForm.controls['sqlServer'].touched ||
                  connectionForm.controls['sqlServer'].dirty)
              "
            >
              <span class="feedback-msg" *ngIf="connectionForm.controls['sqlServer'].errors?.['required']"
                >This is required to check the connection.</span
              >
            </div>

            <div class="sql-credential-input d-flex justify-content-between pt-2">
              <div class="username-input">
                <label for="sqlUserInput" class="form-label conn-label-text">Username</label>
                <input
                  required
                  placeholder="Username"
                  type="text"
                  class="form-control credential-input"
                  id="sqlUserInput"
                  aria-describedby="sqlServerUsername"
                  formControlName="sqlServerUsername"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    connectionForm.controls['sqlServerUsername'].invalid &&
                    (isFormSubmitted ||
                      sqlConnectionCheck ||
                      connectionForm.controls['sqlServerUsername'].touched ||
                      connectionForm.controls['sqlServerUsername'].dirty)
                  "
                >
                  <span class="feedback-msg" *ngIf="connectionForm.controls['sqlServerUsername'].errors?.['required']"
                    >Username is required.</span
                  >
                </div>
              </div>

              <div class="password-input">
                <label for="sqlPasswordInput" class="form-label conn-label-text">Password</label>
                <input
                  required
                  placeholder="Password"
                  type="password"
                  class="form-control credential-input"
                  id="sqlPasswordInput"
                  aria-describedby="sqlPasswordInput"
                  formControlName="sqlServerPassword"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    connectionForm.controls['sqlServerPassword'].invalid &&
                    (isFormSubmitted ||
                      sqlConnectionCheck ||
                      connectionForm.controls['sqlServerPassword'].touched ||
                      connectionForm.controls['sqlServerPassword'].dirty)
                  "
                >
                  <span class="feedback-msg" *ngIf="connectionForm.controls['sqlServerPassword'].errors?.['required']"
                    >Password is required.</span
                  >
                </div>
              </div>
            </div>

            <div class="database-name-input pt-2">
              <label for="sqlDatabaseNameInput" class="form-label conn-label-text">Database name</label>
              <div class="db-input">
                <input
                  required
                  placeholder="Database name"
                  type="text"
                  class="form-control db-name-input"
                  id="sqlDatabaseNameInput"
                  aria-describedby="sqlDatabaseNameInput"
                  formControlName="sqlServerDatabaseName"
                />
                <button (click)="checkConnection('sql')" class="btn btn-light action-btn">Check connection</button>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  connectionForm.controls['sqlServerDatabaseName'].invalid &&
                  (isFormSubmitted ||
                    sqlConnectionCheck ||
                    connectionForm.controls['sqlServerDatabaseName'].touched ||
                    connectionForm.controls['sqlServerDatabaseName'].dirty)
                "
              >
                <span class="feedback-msg" *ngIf="connectionForm.controls['sqlServerDatabaseName'].errors?.['required']"
                  >Database name is required.</span
                >
              </div>
            </div>
          </div>
          <div class="mongo-connection">
            <label for="mongoConnectionInput" class="form-label conn-label-text">Check Mongo connection</label>
            <div class="db-input">
              <input
                required
                placeholder="Mongo connection string"
                type="text"
                class="form-control db-name-input"
                id="mongoConnectionInput"
                aria-describedby="mongoConnectionInput"
                formControlName="mongoConnectionString"
              />
              <button (click)="checkConnection('mongo')" class="btn btn-light action-btn">Check connection</button>
            </div>
            <div
              class="text-danger"
              *ngIf="
                connectionForm.controls['mongoConnectionString'].invalid &&
                (isFormSubmitted ||
                  mongoConnectionCheck ||
                  connectionForm.controls['mongoConnectionString'].touched ||
                  connectionForm.controls['mongoConnectionString'].dirty)
              "
            >
              <span class="feedback-msg" *ngIf="connectionForm.controls['mongoConnectionString'].errors?.['required']"
                >This is required to check the connection</span
              >
            </div>
          </div>
        </form>
      </div>
      <button
        [disabled]="!isSqlConnected || !isMongoConnected"
        type="submit"
        form="checkConnectionForm"
        (click)="onSubmit()"
        class="btn btn-success connection-submit-btn"
      >
        Proceed
      </button>
    </div>
  </div>
</div>
