<div class="home-container">
  <div class="intro-text">
    <h1 class="main-title">
      Migrate data from <span class="primary-highlight">SQL</span> to <span class="sec-highlight">Mongo</span>
    </h1>
    <p class="app-description">
      Effortlessly transfer data from any SQL database table to any MongoDB collection with our seamless integration
      tool.
    </p>
    <div class="home-action-btn">
      <button type="button" class="btn btn-light action-btn btn-know-more">Know More</button>
      <button type="button" class="btn btn-warning action-btn btn-get-started">Get started</button>
    </div>
  </div>
</div>
